<div class="row row-cols-2 gx-3 text-center gradient-form">
    <div class="col p-5 mt-1">
      <div class="card gradient-custom-2">
        <div class="card-header transparente">Mayor o menor</div>
        <div class="card-body">
            <p>Adivina si la siguiente carta será mayor o menor que la carta actual.</p>
            <button class="col-4 text-white btn transparente">Ir al juego</button>
        </div>  
      </div>
    </div>
    <div class="col p-5 mt-1">
      <div class="card gradient-custom-2">
        <div class="card-header transparente">Ahorcado</div>
        <div class="card-body">
            <p>Intenta adivinar la palabra seleccionando las letras</p>
            <p>Tienes solo 
                <img src="assets/img/vidas/pngfind.com-minecraft-heart-png-697698.png" style="width: 15px;">
                <img src="assets/img/vidas/pngfind.com-minecraft-heart-png-697698.png" style="width: 15px;">
                <img src="assets/img/vidas/pngfind.com-minecraft-heart-png-697698.png" style="width: 15px;">
                <img src="assets/img/vidas/pngfind.com-minecraft-heart-png-697698.png" style="width: 15px;">
                <img src="assets/img/vidas/pngfind.com-minecraft-heart-png-697698.png" style="width: 15px;">
            vidas.</p>
            <button class="col-4 text-white btn transparente">Ir al juego</button>
        </div>  
      </div>
    </div>
    <div class="col p-5 mt-1">
      <div class="card gradient-custom-2">
        <div class="card-header transparente">Preguntados</div>
        <div class="card-body">
            <p>Contesta correctamente cada una de las preguntas.</p>
            <p>Tienes solo 
                <img src="assets/img/vidas/pngfind.com-minecraft-heart-png-697698.png" style="width: 15px;">
                <img src="assets/img/vidas/pngfind.com-minecraft-heart-png-697698.png" style="width: 15px;">
                <img src="assets/img/vidas/pngfind.com-minecraft-heart-png-697698.png" style="width: 15px;">
            vidas.</p>
            <button class="col-4 text-white btn transparente">Ir al juego</button>
        </div>  
      </div>
    </div>
    <div class="col p-5 mt-1">
      <div class="card gradient-custom-2">
        <div class="card-header transparente">BlackJack</div>
        <div class="card-body">
            <p>Se juega contra el crupier, y quien se acerque mas a 21 gana.</p>
            <button class="col-4 text-white btn transparente">Ir al juego</button>
        </div>  
      </div>
    </div>
  </div>