.card-header {
    font-size: 1.2rem;
}
.gradient-custom-2 {

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #3b293b, rgb(37, 145, 196))
  }

  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }
.gradient-form
{
  opacity: 0.9;
}
div
{
    color: white;
}
.transparente
{
  background: linear-gradient(to right, #4e1637, rgb(37, 53, 196))
}