<div class="container d-flex">
  <div class="row">
    <div class="card">
      <img src="/assets/img/cartas/1.png">
      <div class="card-body">
        <h5 class="card-title">Mayor o Menor</h5>
        <p class="card-text">Elege si la próxima carta será mayor o menor</p>
        <a href="#" class="btn btn-primary" routerLink="mayorMenor">Jugar</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ingresar al chat</h5>
        <p class="card-text">Chat</p>
        <a href="#" class="btn btn-primary" routerLink="chat">Entrar</a>
      </div>
    </div>
  </div>
  <!--<button (click)="mostrar()">mostrarUsuario</button>-->

</div>

