<div class="row header d-fixed letras">
  <div class="p-3 col-sm-6 d-flex justify-content-center" >
    Bazan Vaquera, Nicolas J.A
  </div>
  <div class="div col-sm-2"></div>
  <div class="div col-sm" >
    <button routerLink="/home" class="m-1 btn btn-secondary entypo-home"> Home</button>
    <button routerLink="/login" class="m-1 btn btn-secondary entypo-login" > Login</button>
    <button routerLink="/register" class="m-1 btn btn-secondary entypo-plus-squared"> Registrarse</button>
  </div>
</div>
<router-outlet>

</router-outlet>
